.MuiTableCell-head {
    width: 80px;
}

.MuiTableCell-root {
    padding: 9px 15px;
}

.dateCell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .MuiTableCell-root {
        padding: 4px 15px;
        font-size: 0.775rem;
    }
}
