.number {
    color: #fff;
    font-size: 70px !important;
    cursor: pointer;
}

span {
    display: block;
}

@media only screen and (max-width: 900px) {
    .number {
        font-size: 50px !important;
    }
}

@media only screen and (max-width: 500px) {
    .number {
        font-size: 25px !important;
    }
}